@page "/Students/edit"
@inject BlazorApp.Data.MyDBContext DB
@using BlazorApp.Model
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h4>Student</h4>
<hr />
@if (newStudent is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="newStudent" OnValidSubmit="UpdateStudent" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <input type="hidden" name="newStudent.StudentId" value="@newStudent.StudentId" />
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="newStudent.Name" class="form-control" />
                    <ValidationMessage For="() => newStudent.Name" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/students">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    public int StudentId { get; set; }

    [SupplyParameterFromForm]
    public Student? newStudent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        newStudent ??= await DB.students.FirstOrDefaultAsync(m => m.StudentId == StudentId);

        if (newStudent is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more details, see https://aka.ms/RazorPagesCRUD.
    public async Task UpdateStudent()
    {
        DB.Attach(newStudent!).State = EntityState.Modified;

        try
        {
            await DB.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!StudentExists(newStudent!.StudentId))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/students");
    }

    bool StudentExists(int studentid)
    {
        return DB.students.Any(e => e.StudentId == studentid);
    }
}
